@font-face {
    font-family: "Oxygen" ;
    src: url("../fonts/Oxygen-Bold.ttf") format(truetype);
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: "Oxygen" ;
    src: url("../fonts/Oxygen-Regular.ttf") format(truetype);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Oxygen" ;
    src: url("../fonts/Oxygen-Light.ttf") format(truetype);
    font-style: light;
    font-weight: 300;
}